.container {
  cursor: pointer;
  position: relative;
}

.box {
  position: relative;
  padding-right: 25px;
}

.box::after {
  content: ">";
  position: absolute;
  height: 100%;
  width: 25px;
  top: 0;
  right: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg) scaleX(0.6);
}

.optionlist {
  position: absolute;
  inset: 100% 0 auto 0;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.optionlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
